Repository yutakobayashidev/comore: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, eslint, prettier, cspell, secretlint

oxlint:
  run: 'npx oxlint --fix {staged_files}
  
    '
  stage_fixed: true

eslint:
  run: 'npx eslint --cache --fix {staged_files}
  
    '
  stage_fixed: true

prettier:
  run: 'npx prettier --write --experimental-cli {staged_files}
  
    '
  stage_fixed: true

cspell:
  run: npx cspell lint --gitignore --cache {staged_files}

secretlint:
  run: 'npx secretlint --maskSecrets {staged_files}
  
    '
  stage_fixed: true

Claude Code: zodスキーマの定義をappのschemasフォルダに移して、以下のようなパターンのテストファ...
  app/schemas/social-links.test.ts
  app/schemas/teams.test.ts
Due: oxlint, eslint, prettier, cspell, secretlint

Claude Code: うん？\ そりゃそうじゃね？？？
  app/schemas/social-links.test.ts
Due: oxlint, eslint, prettier, cspell, secretlint

fix: assert
  app/schemas/social-links.test.ts
  app/schemas/teams.test.ts
  cspell.json
Due: oxlint, eslint, prettier, cspell, secretlint

Claude Code: 修正して
  app/schemas/social-links.ts
Due: oxlint, eslint, prettier, cspell, secretlint

Claude Code: 修正して
  app/schemas/teams.ts
Due: oxlint, eslint, prettier, cspell, secretlint

feat: social link (#28)
  app/lib/teams/index.ts
  app/lib/teams/interface.ts
  app/lib/users/index.ts
  app/lib/users/interface.ts
  app/routes.ts
  app/routes/me.payment.tsx
  app/routes/me.settings.tsx
  app/routes/profile.$handle.tsx
  app/routes/teams.new.tsx
  app/schemas/social-links.test.ts
  app/schemas/social-links.ts
  app/schemas/teams.test.ts
  app/schemas/teams.ts
  cspell.json
  database/schema.ts
  drizzle/0009_aspiring_puma.sql
  drizzle/meta/0009_snapshot.json
  drizzle/meta/_journal.json
  knip.config.ts
  package.json
Due: oxlint, eslint, prettier, cspell, secretlint

Update .gitignore to exclude .mcp.local.json and enhance CLAUDE.md with Human-in-the-Loop integration guidelines. Removed obsolete .mcp.json file.
  .claude/.mcp.json
  .gitignore
  CLAUDE.md
Due: oxlint, eslint, prettier, cspell, secretlint

Remove obsolete command from CLAUDE.md regarding Human-in-the-Loop integration, streamlining the documentation for clarity.
  CLAUDE.md
Due: prettier, cspell, secretlint

chore: human in the loop mcp (#13)
  .gitignore
  CLAUDE.md
Due: prettier, cspell, secretlint

Claude Code: $ wt # UIで worktree の一覧を表...
  README.md
Due: prettier, cspell, secretlint

Claude Code: $ wt # UIで worktree の一覧を表... (#30)
  README.md
Due: prettier, cspell, secretlint

Claude Code: <command-message>kiro is running…</command-mess...
  .claude/commands/kiro.md
Due: prettier, cspell, secretlint

fix: restore
  app/routes.ts
  app/routes/settings.tsx
  cspell.json
  database/schema.ts
  drizzle/0010_abnormal_captain_america.sql
  drizzle/meta/0010_snapshot.json
  drizzle/meta/_journal.json
Due: oxlint, eslint, prettier, cspell, secretlint

fix: file
  tsconfig.cloudflare.tsbuildinfo
  tsconfig.node.tsbuildinfo
Due: secretlint

Claude Code: <command-message>kiro is running…</command-mess...
  cckiro/specs/rss-feed-aggregator/requirements.md
Due: prettier, cspell, secretlint

Claude Code: <command-message>kiro is running…</command-mess...
  .cckiro/specs/rss-feed-aggregator/requirements.md
Due: prettier, cspell, secretlint

Claude Code: <command-message>kiro is running…</command-mess...
  .cckiro/specs/rss-feed-aggregator/design.md
Due: prettier, cspell, secretlint

Claude Code: <command-message>kiro is running…</command-mess...
  .cckiro/specs/rss-feed-aggregator/implementation-plan.md
Due: prettier, cspell, secretlint

Claude Code: <command-message>kiro is running…</command-mess...
  database/schema.ts
Due: oxlint, eslint, prettier, cspell, secretlint

Claude Code: <command-message>kiro is running…</command-mess...
  app/lib/feeds/interface.ts
  drizzle/0011_nice_senator_kelly.sql
  drizzle/meta/0011_snapshot.json
  drizzle/meta/_journal.json
Due: oxlint, eslint, prettier, cspell, secretlint

Claude Code: <command-message>kiro is running…</command-mess...
  app/lib/feeds/index.ts
  app/lib/feeds/interface.ts
Due: oxlint, eslint, prettier, cspell, secretlint

Claude Code: <command-message>kiro is running…</command-mess...
  app/lib/articles/interface.ts
  app/lib/feeds/index.ts
Due: oxlint, eslint, prettier, cspell, secretlint

Claude Code: <command-message>kiro is running…</command-mess...
  app/lib/articles/index.ts
  app/lib/articles/interface.ts
Due: oxlint, eslint, prettier, cspell, secretlint

Path conditions:
  oxlint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  eslint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md,yml}
  cspell: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md,yml}
  secretlint: any of: *
